<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-3xl mt-4">Editing company</h1>

  <% if @company %>
    <%= render "form", company: @company %>
  <% else %>
    <p class="my-5">No company found</p>
  <% end %>
</div>
